<div id="main-content" style="text-align: center; margin-top: 20px;">
    <div id="namespaces">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="relative w-full">
                        <div class="flex items-center mb-4">
                            <p class="m-2 flex items-center">Namespace:</p>
                            <input type="text" id="searchInput" placeholder="Search Namespace"
                                oninput="searchTable()" class="h-8 px-4 text-sm text-grey-700 border border-grey-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-grey-800">
                        </div>
                    </div>
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="px-6 py-4">Name</th>
                                <th scope="col" class="px-6 py-4">Pod</th>
                                <th scope="col" class="px-6 py-4">App</th>
                                <th scope="col" class="px-6 py-4">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            {{range .}}
                            {{ template "clonable-namespace-row.html". }}
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute; top: 0; right: 0;">
    <div class="toast center" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Alert</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" style="text-align: center;">
            Scaling namespaces was successful!
        </div>
    </div>
</div>
<script>
    document.addEventListener('htmx:responseError', function (event) {
        console.log(event)
        if (event.detail.requestConfig.path.includes("/ui/v1/namespace/clone") && event.detail.successful === false) {
            console.log("here")
            console.log(event.detail.xhr.responseText)
            handleFailure(event.detail.xhr.responseText);
            $('.modal').modal('hide');
        }
    });

    function handleFailure(message) {
        updateToastMessage(message);
        $('.toast').removeClass('bg-success').addClass('bg-danger').toast('show'); // Use Bootstrap's bg-danger class
    };

    // Function to update the toast message
    function updateToastMessage(message) {
        var readableMessage = message.replace(/&#34;/g, '"');
        $('.toast .toast-body').text(readableMessage); // Update the text of the toast body
    };

    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-body");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            let isMatch = false;
            for (let j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        isMatch = true;
                        break;
                    }
                }
            }
            if (isMatch) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
</div>
    